{% load static %}
<section data-bs-version="5.1" class="gallery4 mbr-gallery cid-t9qOO9Dwb0" id="gallery4-7">




    <div class="container-fluid">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2"><strong>Pets já adotados!</strong></h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"></h4>
        </div>
        <div class="row mbr-gallery mt-4">
            <div class="col-12 col-md-6 col-lg-4 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#t9sdlqniwK-modal" data-bs-target="#t9sdlqniwK-modal">
                    <img class="w-100" src="{% static 'images/mbr-1181x664.jpg' %}" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#t9sdlqniwK-modal" data-bs-target="#t9sdlqniwK-modal">
                    <img class="w-100" src="{% static 'images/mbr-1181x787.jpg' %}" alt="Mobirise Website Builder" data-slide-to="1" data-bs-slide-to="1" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#t9sdlqniwK-modal" data-bs-target="#t9sdlqniwK-modal">
                    <img class="w-100" src="{% static 'images/mbr-1181x1772.jpg' %}" alt="Mobirise Website Builder" data-slide-to="2" data-bs-slide-to="2" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#t9sdlqniwK-modal" data-bs-target="#t9sdlqniwK-modal">
                    <img class="w-100" src="{% static 'images/mbr-1181x741.jpg' %}" alt="Mobirise Website Builder" data-slide-to="3" data-bs-slide-to="3" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>

            </div><div class="col-12 col-md-6 col-lg-4 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#t9sdlqniwK-modal" data-bs-target="#t9sdlqniwK-modal">
                    <img class="w-100" src="{% static 'images/mbr-1181x738.jpg' %}" alt="Mobirise Website Builder" data-slide-to="4" data-bs-slide-to="4" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>

            </div><div class="col-12 col-md-6 col-lg-4 item gallery-image">
                <div class="item-wrapper" data-toggle="modal" data-bs-toggle="modal" data-target="#t9sdlqniwK-modal" data-bs-target="#t9sdlqniwK-modal">
                    <img class="w-100" src="{% static 'images/mbr-1181x1234.jpg' %}" alt="Mobirise Website Builder" data-slide-to="5" data-bs-slide-to="5" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK">
                    <div class="icon-wrapper">
                        <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal mbr-slider" tabindex="-1" role="dialog" aria-hidden="true" id="t9sdlqniwK-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="carousel slide" id="lb-t9sdlqniwK" data-interval="5000" data-bs-interval="5000">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static 'images/mbr-1181x664.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'images/mbr-1181x787.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'images/mbr-1181x1772.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'images/mbr-1181x741.jpg' %}" alt="Mobirise Website Builder">
                                </div><div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'images/mbr-1181x738.jpg' %}" alt="Mobirise Website Builder">
                                </div><div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'images/mbr-1181x1234.jpg' %}" alt="Mobirise Website Builder">
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-slide-to="0" data-bs-slide-to="0" class="active" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK"></li>
                                <li data-slide-to="1" data-bs-slide-to="1" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK"></li>
                                <li data-slide-to="2" data-bs-slide-to="2" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK"></li>
                                <li data-slide-to="3" data-bs-slide-to="3" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK"></li><li data-slide-to="4" data-bs-slide-to="4" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK"></li><li data-slide-to="5" data-bs-slide-to="5" data-target="#lb-t9sdlqniwK" data-bs-target="#lb-t9sdlqniwK"></li>
                            </ol>
                            <a role="button" href="" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                            </a>
                            <a class="carousel-control-prev carousel-control" role="button" data-slide="prev" data-bs-slide="prev" href="#lb-t9sdlqniwK">
                                <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next carousel-control" role="button" data-slide="next" data-bs-slide="next" href="#lb-t9sdlqniwK">
                                <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                                <span class="sr-only visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
