<section data-bs-version="5.1" class="header7 cid-t9sbNejR1H mbr-fullscreen" id="header7-d">

    <div class="text-right container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-5">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Adote Cães e Gatos</strong></h1>

                <p class="mbr-text mbr-fonts-style display-5">
                    Mobirise Free Website Maker is perfect for non-techies and great for pro-coders for fast prototyping and small customers' projects.</p>
            </div>
        </div>
    </div>
</section>