{% load static %}
<section data-bs-version="5.1" class="features11 cid-t9qOMHoZnL" id="features12-5">



    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>Sobre o AdoteC&amp;G</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et lobortis lacus. Proin lorem sapien, fermentum id finibus at, molestie ultrices mi. Nulla ante elit, facilisis ac vehicula et, egestas id mauris. Aenean interdum elit in felis scelerisque, in interdum ante pulvinar.<br></p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Aenean Interdum</li><li>Felis scelerisque</li><li>Lorem Ipsum Dolor</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="{% static 'images/mbr-2-1256x837.jpg' %}" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>